__pycache__/
*~
.backup
.examples
.ipynb_checkpoints/

*.cmds
*.csv
*.err
*.fa
*.fasta
*.json*
*.list
*.log
*.out
*.pair
*.pdb*
*.pdf
*.png
*.pptx
*.pse
*.sh
*.silent
*.tasks
*.tar*
*.trb
*.txt
*.xls
*.xlsx
*.yml
*.zip
._*

BFF
data
demos
envs
software
projects/*/00*/*
projects/*/01*/*
projects/*/02*/*
projects/*/03*/*
projects/*/04*/*
projects/*/05*/*
projects/*/06*/*
projects/*/07*/*
projects/*/08*/*
projects/*/09*/*
projects/*/10*/*
projects/*/11*/*
projects/*/12*/*
projects/*/13*/*
projects/*/14*/*
projects/*/15*/*
projects/*/16*/*
projects/*/17*/*
projects/*/18*/*
projects/*/19*/*
projects/*/20*/*
projects/*/*/design/00*/*
projects/*/*/design/01*/*
projects/*/*/design/02*/*
projects/*/*/design/03*/*
projects/*/*/design/04*/*
projects/*/*/design/05*/*
projects/*/*/design/06*/*
projects/*/*/design/07*/*
projects/*/*/design/08*/*
projects/*/*/design/09*/*
projects/*/*/design/10*/*
projects/*/*/design/11*/*
projects/*/*/design/12*/*
projects/*/*/design/13*/*
projects/*/*/design/14*/*
projects/*/*/design/15*/*
projects/*/*/design/16*/*
projects/*/*/design/17*/*
projects/*/*/design/18*/*
projects/*/*/design/19*/*
projects/*/*/design/20*/*
projects/clippy_shifties
projects/retroaldolase_hinge
projects/crispy_shifty_dimers/*/deer/*

examples
figs

slurm_logs
*temp*
*-Copy1*
test*
old*
run.py
run.sh
.DS_Store

scaffolds
scripts
share
